QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=mlflow_docs
OLLAMA_MODEL=mistral
OLLAMA_HOST=http://host.docker.internal:11434
LANGFUSE_SECRET_KEY="..."
LANGFUSE_PUBLIC_KEY="..."
LANGFUSE_BASE_URL="https://cloud.langfuse.com"